
@model List<BasketViewModel>

<table class="table" style="text-align: center">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Count</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            double sum = 0;
            foreach (var item in Model)
            {

                <tr>
                    <td style="vertical-align:middle"><img src="~/img/product/@item.Image" class="img-fluid" style="height:100px;"></td>
                    <td style="vertical-align:middle">@item.ProductName</td>
                    <td style="vertical-align:middle">@item.Count</td>
                    <td style="vertical-align:middle">$@Math.Round((Convert.ToDouble(item.Price) - (((double)item.Price * item.Discount) / 100)) * (double)item.Count)</td>
                    <td style="vertical-align:middle; width: 600px;">
                        <button class="btn btn-danger" id="decrease" value="@item.Id">-</button>
                        <input hidden type="number" id="cart_amount" value="@item.Count" min="0" class="amount cart_amount" />
                        <button class="btn btn-danger" id="increase" value="@item.Id">+</button>
                        <a asp-controller="Home" asp-action="RemoveAll" asp-route-id="@item.Id" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                { sum += ((Convert.ToDouble(item.Price) - ((Convert.ToDouble(item.Price) * item.Discount) / 100)) * (item.Count)); }
            }
        }
    </tbody>
</table>
<h2 style="text-align: end; padding-right: 40px">
    Total : $@Math.Round(sum)
</h2>
